@font-face{font-family:'black-ital';src:url('black-ital.ttf');}	
@font-face{font-family:'black';src:url('black.otf');}
@font-face{font-family:'bold-ital';src:url('bold-ital.otf');}
@font-face{font-family:'bold';src:url('bold.otf');}
@font-face{font-family:'book-ital';src:url('book-ital.otf');}
@font-face{font-family:'book';src:url('book.otf');}
@font-face{font-family:'light-ital';src:url('light-ital.otf');}
@font-face{font-family:'light';src:url('light.otf');}
@font-face{font-family:'medium-ital';src:url('medium-ital.otf');}
@font-face{font-family:'medium';src:url('medium.otf');}
@font-face{font-family:'thin-ital';src:url('thin-ital.otf');}
@font-face{font-family:'thin';src:url('thin.otf');}
@font-face{font-family:'ultra-ital';src:url('ultra-ital.otf');}
@font-face{font-family:'ultra';src:url('ultra.otf');}
@font-face{font-family:'xlight-ital';src:url('xlight-ital.otf');}
@font-face{font-family:'xlight';src:url('xlight.otf');}